<!-- ##### Header Area Start ##### -->
<header class="header_area">
  <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
    <!-- Classy Menu -->
    <nav class="classy-navbar" id="essenceNav">
      <!-- Logo -->
      <a class="nav-brand" [routerLink]="[ 'home' ]">
        <img src="assets/template/img/core-img/logo.png" alt="">
        <!-- <img src="assets/template/img/core-img/genovevaLogo.jpg" alt=""> -->
      </a>
      <!-- Navbar Toggler -->
      <div class="classy-navbar-toggler">
        <span class="navbarToggler"><span></span><span></span><span></span></span>
      </div>
      <!-- Menu -->
      <div class="classy-menu">
        <!-- close btn -->
        <div class="classycloseIcon">
          <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
        </div>
        <!-- Nav Start -->
        <div class="classynav">
          <ul>
            <li routerLinkActive="active"><a [routerLink]="[ 'shop' ]">Shop</a></li>
            <li routerLinkActive="active"><a [routerLink]="[ 'faqs' ]">Preguntas frecuentes</a></li>
            <li><a href="https://www.facebook.com/genovevaok/" target="_blank" title="Facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/genovevaok/" target="_blank" title="Instagram">
              <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <!-- <li routerLinkActive="active"><a [routerLink]="[ 'politicas' ]">Políticas</a></li> -->
            <!-- <li><a>Tablero Angular</a>
              <ul class="dropdown">
                <li routerLinkActive="active"><a [routerLink]="[ 'admin/ecommerce' ]">E-Commerce</a></li>
                <li routerLinkActive="active"><a [routerLink]="[ 'admin/ventas' ]">Ventas</a></li>
                <li routerLinkActive="active"><a [routerLink]="[ 'admin/estadisticas' ]">Estadísticas</a></li>
              </ul>
            </li> -->
            <!-- <li><a href="http://127.0.0.1:8000/admin">Tablero Laravel</a></li> -->
            <li><a href="http://genovevabe.cf/admin">Tablero Laravel</a></li>
            <!-- <li><a href="http://genovevaok.com/admin">Tablero Laravel</a></li> -->
          </ul>
        </div>
        <!-- Nav End -->
      </div>
    </nav>

    <!-- Header Meta Data -->
    <div class="header-meta d-flex clearfix justify-content-end">
      <!-- Search Area -->
      <div class="search-area">
        <form action="#" method="post">
          <input type="search" name="search" id="headerSearch" placeholder="Busca">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
      <!-- Favourite Area -->
      <div class="favourite-area">
        <a [routerLink]="['favoritos', userId]" *ngIf="userId"><img src="assets/template/img/core-img/heart.svg" alt=""></a>
        <a [routerLink]="['login']" *ngIf="!userId"><img src="assets/template/img/core-img/heart.svg" alt=""></a>
      </div>
      <!-- User Login Info -->
      <div class="user-login-info">
        <!-- <a href="http://127.0.0.1:8000/login"><img src="assets/template/img/core-img/user.svg" alt=""></a> -->
        <a [routerLink]="['perfil', userId]" *ngIf="userId"><img src="assets/template/img/core-img/user.svg"
            alt=""></a>
        <a [routerLink]="['login']" *ngIf="!userId"><img src="assets/template/img/core-img/user.svg"
            alt=""></a>
      </div>
      <!-- Cart Area -->
      <div class="cart-area">
        <!-- <a [routerLink]="['carrito']"><img src="assets/template/img/core-img/bag.svg" alt=""> -->
        <a *ngIf="userId" href="#" id="essenceCartBtn"><img src="assets/template/img/core-img/bag.svg" alt="">
          <span>{{cantidadDeProd}}</span>
        </a>
        <a *ngIf="!userId" [routerLink]="['login']" id=""><img src="assets/template/img/core-img/bag.svg" alt="">
        </a>
      </div>
    </div>

  </div>
</header>
<!-- ##### Header Area End ##### -->