<div class="limiter animated fadeInRight">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <form (ngSubmit)="onSubmit( formRegistro )" #formRegistro="ngForm"
        class="login100-form validate-form flex-sb flex-w">

        <span class="login100-form-title p-b-51">
          Crear nueva cuenta
        </span>

        <span *ngIf="formRegistro.submitted && formRegistro.controls['email'].errors"
          class="text-danger animated fadeIn">El correo es
          obligatorio</span>
        <div class="wrap-input100 m-b-16">
          <input class="input100 email" type="text" name="email" email required [(ngModel)]="usuario.email"
            placeholder="Email">

          <span class="focus-input100"></span>
        </div>

        <span *ngIf="formRegistro.submitted && formRegistro.controls['name'].errors"
          class="text-danger animated fadeIn">El nombre es obligatorio</span>
        <div class="wrap-input100 m-b-16">
          <input class="input100 nombre" type="text" name="name" required [(ngModel)]="usuario.name"
            placeholder="Nombre">

          <span class="focus-input100"></span>
        </div>

        <span *ngIf="formRegistro.submitted && formRegistro.controls['lastname'].errors"
          class="text-danger animated fadeIn">El apellido es obligatorio</span>
        <div class="wrap-input100 m-b-16">
          <input class="input100 apellido" type="text" required name="lastname" [(ngModel)]="usuario.lastname"
            placeholder="Apellido/s">

          <span class="focus-input100"></span>
        </div>

        <span *ngIf="formRegistro.submitted && formRegistro.controls['password'].errors"
          class="text-danger animated fadeIn">La contraseña debe de ser más de 6 letras</span>
        <span *ngIf="noCoinciden"
          class="text-danger animated fadeIn">Las contraseñas deben ser iguales</span>
        <div class="wrap-input100 m-b-16">
          <input class="input100 password" type="password" required minlength="6" name="password" [(ngModel)]="usuario.password"
            placeholder="Contraseña">
          <span class="focus-input100"></span>
        </div>

        <span *ngIf="formRegistro.submitted && formRegistro.controls['repassword'].errors"
          class="text-danger animated fadeIn">La recontraseña debe de ser más de 6 letras</span>
        <span *ngIf="noCoinciden" class="text-danger animated fadeIn">Las contraseñas deben ser iguales</span>
        <div class="wrap-input100 m-b-16">
          <input class="input100 repassword" type="password" required name="repassword" [(ngModel)]="usuario.repassword"
            placeholder="Repetí la constraseña">
          <span class="focus-input100"></span>
        </div>

        <label class="mt-3 mb-2" for="">Cual es tu color preferido? <small>Te servirá si olvidas la contraseña</small></label>
        <span *ngIf="formRegistro.submitted && formRegistro.controls['respuesta'].errors"
          class="text-danger animated fadeIn">Tenes que responder la pregunta secreta!</span>
        <div class="wrap-input100 m-b-16">
          <input class="input100 respuesta" type="text" required name="respuesta" [(ngModel)]="usuario.respuesta"
            placeholder="Respuesta secreta">

          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-24">
          <div class="contact100-form-checkbox">
            <input [(ngModel)]="recordarme" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Recordar mi usuario
            </label>
          </div>

          <div>
            <a routerLink="/login" class="txt1">
              ¿Ya tienes cuenta? / Ingresar
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn" type="submit">
            Crear cuenta
          </button>
        </div>

      </form>
    </div>
  </div>
</div>