<div class="breadcumb_area bg-img" style="background-image: url(assets/template/img/bg-img/breadcumb.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="page-title text-center">
          <h2>Perfil</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!usuario" style="margin: auto; margin-top: 400px; margin-bottom: 300px;"
  class="row text-center animated fadeIn">
  <img style="width: 10%; margin: auto;" src="assets/loading/Rolling-1s-200px.svg" alt="">
</div>

<div *ngIf="usuario"  class="container">
  <div class="row animated fadeIn fast">
    <div class="col-md-12 text-right mb-2">
      <button (click)="logout()" class="btn btn-danger mt-5">Cerrar sesión</button>
    </div>
  </div>
  <div class="mt-3 mb-5">
    <h2>Hola {{ usuario.name }} {{ usuario.lastname }}</h2>
    <h5>Estos son tus pedidos</h5>
  </div>
  <div mb-5>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">safdasdf</th>
          <td>12312</td>
          <td>12312</td>
          <td>asdasd</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>