<div class="breadcumb_area bg-img" style="background-image: url(assets/template/img/bg-img/breadcumb.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="page-title text-center">
          <h2>Perfil</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!usuario" style="margin: auto; margin-top: 400px; margin-bottom: 300px;"
  class="row text-center animated fadeIn">
  <img style="width: 10%; margin: auto;" src="assets/loading/Rolling-1s-200px.svg" alt="">
</div>

<div *ngIf="usuario"  class="container">
  <div class="row animated fadeIn fast">
    <div class="col-md-12 text-right mb-2">
      <button (click)="logout()" class="btn btn-danger mt-5">Cerrar sesión</button>
    </div>
  </div>
  <div class="mt-3 mb-5">
    <h2>Hola {{ usuario.name }} {{ usuario.lastname }}</h2>
    <h5>Estos son tus pedidos</h5>
  </div>
  <div class="mb-5">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th style="width: 17,5%" scope="col"># Orden</th>
          <th style="width: 30%" scope="col">Productos</th>
          <th style="width: 17,5%" scope="col">Total</th>
          <th style="width: 17,5%" scope="col">Estado del Pago</th>
          <th style="width: 17,5%" scope="col">Estado del Envio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidosUsuario">
          <th style="width: 17,5%" scope="row">{{ pedido.orden }}</th>
          <td style="width: 30%">
            <div class="sobre d-block">Productos
              <span class="informacion-abajo">
                <ul class="list-group">
                  <li *ngFor="let prod of pedido.prods" style="list-style:none;">
                    {{prod}}
                  </li>
                </ul>
              </span>
            </div>
          </td>
          <td style="width: 17,5%">{{ pedido.total }}</td>
          <td style="width: 17,5%">{{ pedido.pago }}</td>
          <td style="width: 17,5%">{{ pedido.envio }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>