<!-- ##### Welcome Area Start ##### -->
<!-- <section class="welcome_area bg-img background-overlay" style="background-image: url(../../../assets/template/img/bg-img/bg-1.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="hero-content">
          <h2>New Collection</h2>
          <a [routerLink]="[ '/shop' ]" class="btn essence-btn">Ver</a>
        </div>
      </div>
    </div>
  </div>

</section> -->

<section class="welcome_area bg-img background-overlay" style="background-image: url(../../../assets/genoveva-home2-min-min.png);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="hero-content" style="position: relative;">
          <a [routerLink]="[ '/shop' ]" class="btn essence-btn">shop now!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Welcome Area End ##### -->

<!-- ##### Top Catagory Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <!-- <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../../../assets/template/img/bg-img/bg-2.jpg);"> -->
        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img remeras" style="background-image: url(../../../assets/remeras_opt.jpg);">
          <!-- ../img/core-img/long-arrow-left.svg -->
          <div class="catagory-content">
            <a>Remeras</a>
            <!-- <a class="remeras">Remeras</a> -->
          </div>
        </div>
      </div>
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img bodys" style="background-image: url(../../../assets/body_opt.jpg);">
        <!-- <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../../../assets/template/img/bg-img/bg-3.jpg);"> -->
          <div class="catagory-content">
            <a>Bodys</a>
            <!-- <a class="bodys">Bodys</a> -->
          </div>
        </div>
      </div>
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img blusas" style="background-image: url(../../../assets/blusas_opt.jpg);">
        <!-- <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../../../assets/template/img/bg-img/bg-4.jpg);"> -->
          <div class="catagory-content">
            <a>Blusas</a>
            <!-- <a class="blusas">Blusas</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Top Catagory Area End ##### -->

<!-- ##### CTA Area Start ##### -->
<div class="cta-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cta-content bg-img background-overlay" style="overflow: hidden">
          <div class="divImagenSale">
            <!-- <img class="imagenSale" src="../../../assets/sale3.png" alt=""> -->
          </div>
        <!-- <div class="cta-content bg-img background-overlay " style="background-image: url(../../../assets/sale3.png);"> -->
        <!-- <div class="cta-content bg-img background-overlay" style="background-image: url(../../../assets/template/img/bg-img/bg-5.jpg);"> -->
          <div class="d-flex divDivTextoSale align-items-center justify-content-start">
            <div class="cta--text divTextoSale">
              <hr class="m-0 lineaSale">
              <h2 style="font-size: 70px; font-family: 'Poppins', sans-serif !important; font-weight: 600;" class="m-0 textoSale">SALE</h2>
              <h2 style="font-size: 70px; font-family: 'Poppins', sans-serif !important; font-weight: 600;" class="m-0 textoSale">SALE</h2>
              <h2 style="font-size: 70px; font-family: 'Poppins', sans-serif !important; font-weight: 600;" class="m-0 textoSale">SALE</h2>
              <hr class="m-0 lineaSale">
            </div>
          </div>

          <div class="divBtnSale">
            <a [routerLink]="['/shop/descuentos']" class="btn essence-btn mb-3">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### CTA Area End ##### -->

 <!-- ##### New Arrivals Area Start ##### -->
 <section class="new_arrivals_area section-padding-80 clearfix">

  <!-- <div *ngIf="cargando" class="row text-center animated fadeIn">
    <div class="col">

      <img style="width: 10%" src="assets/loading/Rolling-1s-200px.svg" alt="">

    </div>
  </div> -->

  <!-- <div *ngIf="!cargando"> -->
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Productos Populares</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="popular-products-slides owl-carousel">
            <div class="single-product-wrapper" *ngFor="let producto of productosDestacadosConImagenes">
              <app-popular-products [producto]="producto"></app-popular-products>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="popular-products-slides owl-carousel">
            <app-popular-products class="single-product-wrapper" *ngFor="let producto of productosDestacadosConImagenes"
              [producto]="producto"></app-popular-products>
        </div>
      </div>
    </div>
  </div> -->
        
 </section>
 <!-- ##### New Arrivals Area End ##### -->