<!-- <div class="breadcumb_area bg-img" style="background-image: url(assets/template/img/bg-img/breadcumb.jpg);"> -->
<div style="background-image: url(assets/marmol.png); height: 300px;">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="page-title text-center">
          <h2 style="font-family: 'Poppins', sans-serif !important; font-weight: 600;">Resultados</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="buscando" style="margin-top: 400px; margin-bottom: 300px;" class="row text-center animated fadeIn">
    <div class="col">

      <img style="width: 10%" src="assets/loading/Rolling-1s-200px.svg" alt="">

    </div>
  </div>

  <div *ngIf="this.productosBuscados.length === 0" class="mt-5">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-md-8">
          <div class="regular-page-content-wrapper section-padding-80">
            <div class="regular-page-text">
              <h2>NO ENCONTRAMOS NINGUN PRODUCTO CON ESE TITULO</h2>
              <p>Podes seguir buscando otros productos en nuestro </p>
              <h1>
                <div style="cursor: pointer" class="d-inline-block btn btn-outline-dark" [routerLink]="['/shop']">SHOP ONLINE</div>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row" style="margin-top: 50px;" *ngIf=" !buscando">
    <app-producto-buscado class="col-12 col-sm-6 col-lg-4" *cdkVirtualFor="let producto of this.productosBuscados"
      [producto]="producto">
    </app-producto-buscado>
  </div> -->
  <cdk-virtual-scroll-viewport itemSize="50" style="height: 1200px;" *ngIf=" !buscando">
    <div class="row" style="margin-top: 50px;">
      <app-producto-buscado class="col-12 col-sm-6 col-lg-4" *cdkVirtualFor="let producto of this.productosBuscados"
        [producto]="producto">
      </app-producto-buscado>
    </div>
  </cdk-virtual-scroll-viewport>
</div>