<div class="container">
  <div *ngIf="buscando" style="margin-top: 400px; margin-bottom: 300px;" class="row text-center animated fadeIn">
    <div class="col">

      <img style="width: 10%" src="assets/loading/Rolling-1s-200px.svg" alt="">

    </div>
  </div>

  <div *ngIf="!muestro">
    <input type="text" value="{{termino}}" id="">
  </div>

  <div class="row" style="margin-top: 150px;" *ngIf=" !buscando">
    <app-producto-buscado class="col-12 col-sm-6 col-lg-4" *ngFor="let producto of this.productosBuscados"
      [producto]="producto">
    </app-producto-buscado>
  </div>
</div>