<!-- <div class="bg-img cartel"> -->
<div class="container cartel">
    <div class="row h-100 align-items-center">
        <div class="col-12">
        <div class="page-title text-center fadeIn slow" style="margin-top: 50px;">

            <h1>En estos momentos el shop se encuentra en mantenimiento</h1> <br>
            <h3>enseguida estamos de vuelta</h3>

            <img src="assets/template/img/core-img/genovevaLogo.jpg" style="width: 60%" alt="">
        </div>
        </div>
    </div>
    </div>
<!-- </div> -->