<!-- ##### Blog Wrapper Area Start ##### -->
<div class="single-blog-wrapper">

  <!-- Single Blog Post Thumb -->
  <div class="bg-img" style="background-image: url(assets/marmol.png); height: 300px;">
  <!-- <div class="bg-img" style="background-image: url(assets/template/img/bg-img/bg-8.jpg); height: 300px;"> -->
    <!-- <img src="assets/template/img/bg-img/bg-8.jpg" alt=""> -->
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="page-title text-center">
            <h2 style="font-family: 'Poppins', sans-serif !important; font-weight: 600;">Preguntas Frecuentes</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="regular-page-content-wrapper section-padding-80">
          <div class="regular-page-text">

            <div class="mt-5">
              <h2>¿CÓMO COMPRAR ONLINE?</h2>
              <p>
                <strong></strong>
                  <strong style="color: black">1.</strong> Elegí la prenda que querés comprar. <br>

                  <strong style="color: black">2.</strong> Hace clic en el botón  "Agregar " (Esto agregará el producto a tu carrito, en la esquina superior derecha podes hacer click y ver los productos agregados). <br>
                  
                  <strong style="color: black">3.</strong> Podes seguir agregando otros productos al carrito o hacer clic en el botón superior derecha (la bolsita) para ver el resumen de tus productos agregados y elegir “Comprar". <br>
                  
                  <strong style="color: black">4.</strong> Completa tus datos de contacto. <br>
                  
                  <strong style="color: black">5.</strong> En el recuadro donde dice “Tu Orden” vas a ver los detalles de tu compra, si estas dentro del casco urbano tenes la opción de elegir delivery. <br>
                  
                  <!-- 6.Elegí el método de entrega. -->

                  <!-- 7.Ingresa tu dirección en la que querés recibir el producto. -->

                  <strong style="color: black">6.</strong> Elegí la modalidad de pago y completá los datos que se te solicite. <br>

                  <strong style="color: black">7.</strong> Una vez completados dale click al botón "Comprar pedido" y listo! <br>

                  <strong style="color: black">8.</strong> Ahora se te redirigirá a tu perfil donde vas a poder ver el estado del pago, el estado del envío y el número de siguimiento del mismo. <br>
                  
                  <strong style="color: black">9.</strong> Una vez acreditado el pago, nos vamos a poner en contacto para coordinar el envio en moto o enviar el codigo de seguimiento de OCA. <br>

                  <!-- 10.Elige el medio de pago. Una vez que hayas elegido el medio de pago, haz clic en "Continuar".

                  11.Finalmente en la página de Confirmación de compra puedes revisar toda la información de la compra. Luego haz clic en "Continuar".

                  12.Ahí serás redirigido a otra pantalla para que completes los datos sobre la forma de pago elegida. 
                  Después de confirmar la compra recibirás un correo de nuestra parte, ese no será un comprobante de pago.

                  13.Una vez acreditado el pago, te llegará el comprobante y haremos tu envio! -->
              </p>

              <hr>
            </div>

            <h2>ENVIOS</h2>
              <h3>ENVÍOS A SUCURSAL OCA MAS CERCANA</h3>
              <p>
                La opcion de envio de OCA es siempre a la sucursal mas cercana al domicilio ingresado y el costo es a cargo del comprador. <br>
                Una vez despachado el pedido, les enviamos el código de seguimiento correspondiente a su pedido, por esta razón es muy importante que todos los datos estén correctos al momento de realizar el pedido. Ese mismo código lo ingresan en la siguiente página: <br>
                <a href="HTTPS://WWW.OCA.COM.AR/ENVIOS/PAQUETES/ " target="_blank" style="font-size: 16px;">https//www.oca.com.ar/envios/paquetes</a> <br>
                Y desde ahi ya pueden hacer el seguimiento de su pedido. Una vez que el pedido llegue a la sucursal tienen 5 dias hábiles para buscarlo, de lo contrario el pedido va a volver al local y deberán venir a retirarlo. <br>
                Los envíos son a todo el país, <strong>exceptuando Tierra del Fuego</strong> <br>
              </p>

              <h3>ENVÍOS CON MOTO MENSAJERÍA</h3>
              <p>
                Los envíos con moto mensajeria son exclusivamente para la ciudad de La Plata. <br>
                Nos vamos a poner en contacto via Whatsapp o mail cuando su pedido este listo para enviar, por eso es súper importante que todos los datos estén correctos al momento de realizar la compra. <br>
                En el caso de que quieran abonar en efectivo el pedido se coordina por Instagram (10% de descuento) en el momento de la entrega. <br>
              </p>

            <hr>

            <!-- <blockquote>
              <h6><i class="fa fa-quote-left" aria-hidden="true"></i> Quisque sagittis non ex eget vestibulum. Sed nec
                ultrices dui. Cras et sagittis erat. Maecenas pulvinar, turpis in dictum tincidunt, dolor nibh lacinia
                lacus.</h6>
              <span>Liam Neeson</span>
            </blockquote> -->

            <!-- <div class="mt-5">
              <h2>¿PORQUE ES SEGURO COMPRAR EN GENOVEVA?</h2>
              <p>Responsibilidad de todos los datos ingresados en el sitio <br>
                Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿LAS PROMOCIONES EN LAS TARJETAS SON OFRECIDAS POR USTEDES?</h2>
              <p>No! Las promociones de las tarjetas son ofrecidas por Mercado Libre &reg; (Mercado Pago &reg;).</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>DISTINTOS ESTADOS DEL PAGO</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿COMO SE REALIZAN LOS ENVÍOS?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿EL ENVÍO TIENE COSTO?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿CUANTO TIEMPO TARDA EL ENVÍO POR OCA?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿CÓMO HAGO EL SEGUIMIENTO DE MI PEDIDO?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿QUÉ PASA SI LLEGA EL PEDIDO Y NO ESTOY?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿SE HACEN ENVÍOS DENTRO DE LA PLATA?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿QUE PUEDO HACER SI MI PEDIDO NO LLEGA EN BUEN ESTADO?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>DEVOLUCIONES Y CAMBIOS</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Blog Wrapper Area End ##### -->