<!-- ##### Blog Wrapper Area Start ##### -->
<div class="single-blog-wrapper">

  <!-- Single Blog Post Thumb -->
  <div class="bg-img" style="background-image: url(assets/template/img/bg-img/bg-8.jpg); height: 300px;">
    <!-- <img src="assets/template/img/bg-img/bg-8.jpg" alt=""> -->
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="page-title text-center">
            <h2>Preguntas Frecuentes</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="regular-page-content-wrapper section-padding-80">
          <div class="regular-page-text">
            <h2>¿PUEDO PAGAR EN EFECTIVO? ¿COMO?</h2>
            <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
              vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
              arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
              risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
              ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

            <hr>

            <!-- <blockquote>
              <h6><i class="fa fa-quote-left" aria-hidden="true"></i> Quisque sagittis non ex eget vestibulum. Sed nec
                ultrices dui. Cras et sagittis erat. Maecenas pulvinar, turpis in dictum tincidunt, dolor nibh lacinia
                lacus.</h6>
              <span>Liam Neeson</span>
            </blockquote> -->

            <div class="mt-5">
              <h2>¿PORQUE ES SEGURO COMPRAR EN GENOVEVA?</h2>
              <p>Responsibilidad de todos los datos ingresados en el sitio <br>
                Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿LAS PROMOCIONES EN LAS TARJETAS SON OFRECIDAS POR USTEDES?</h2>
              <p>No! Las promociones de las tarjetas son ofrecidas por Mercado Libre &reg; (Mercado Pago &reg;).</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>DISTINTOS ESTADOS DEL PAGO</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿COMO SE REALIZAN LOS ENVÍOS?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿EL ENVÍO TIENE COSTO?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿CUANTO TIEMPO TARDA EL ENVÍO POR OCA?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿CÓMO HAGO EL SEGUIMIENTO DE MI PEDIDO?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿QUÉ PASA SI LLEGA EL PEDIDO Y NO ESTOY?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿SE HACEN ENVÍOS DENTRO DE LA PLATA?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>¿QUE PUEDO HACER SI MI PEDIDO NO LLEGA EN BUEN ESTADO?</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

              <hr>
            </div>

            <div class="mt-5">
              <h2>DEVOLUCIONES Y CAMBIOS</h2>
              <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna
                vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue
                arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra
                risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis
                ac eu nisi. In accumsan tellus ut dapibus blandit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Blog Wrapper Area End ##### -->