<div *ngIf="cargando" class="alert alert-warning text-center" role="alert">
  <strong>Cargando...</strong> por favor espere
</div>

<div *ngIf="!cargando" class="container mt-100">
  <h3 *ngIf="producto">Producto <small>{{ producto.titulo }}</small> </h3>
  <h3 *ngIf="!producto">Nuevo Producto</h3>
  <button class="btn btn-outline-danger" [routerLink]="['/admin/ecommerce']">Regresar</button>

  <hr>

  <div *ngIf="actualizando" class="alert alert-info text-center" role="alert">
    <strong>Actualizando...</strong> por favor espere
  </div>

  <div *ngIf="!actualizando" class="row animated fadeIn fast">
    <div class="col-md-12">

      <form (ngSubmit)="guardarProducto(forma.value)" #forma="ngForm" enctype='multipart/form-data'>

        <div class="form-group">
          <label for="">Titulo</label>
          <input type="text" name="nombre" class="form-control" placeholder="Título del producto" required
            [(ngModel)]="producto.titulo">
        </div>

        <div class="form-group">
          <label for="">Categoria Principal</label>
          <select name="categoria_id" class="form-control" required [(ngModel)]="producto.categoria_id">
            <option *ngFor="let categoria of this.categoriasP" value="{{ categoria.id }}">{{ categoria.nombre }}</option>
          </select>
        </div>

        <label for="">Categoria secundaria</label><small> - podes seleccionar hasta 3</small><br>

        <div *ngFor="let categoria of this.categoriasS" class="form-group d-inline-flex mr-3">
          <label class="mr-1" for="">{{ categoria.nombre }}</label>
          <input type="checkbox" name="categoriaSecundaria[]" value="{{ categoria.id }}" id="">
          <!-- <input type="checkbox" name="categoriaSecundaria[]"
            value="categoria{{ categoria.id }}" id="" [(ngModel)]="producto.categoriaSecundaria"> -->
        </div>

        <div class="form-group row">
          <div class="col-6">
            <div *ngIf="producto.imagen1">
              <label for="">Imágen cargada anteriormente</label>
              <img src="{{ producto.imagen1 }}" class="d-block" width="200px" alt="">
            </div>

            <label for="">Seleccioná las imagenes que se verán en el shop</label>
            <div appNgDropFiles [imagen1]="imagen1" (mouseSobre)="estaSobreElemento = $event"
              [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
              <h4>Dejá caer acá el archivo</h4>
              <img src="assets/drop-images.png" alt="">
            </div>

            <table class="table-info" *ngIf="this.imagen1 !== []">
              <thead class="">
                <th class="col-3">Nombre</th>
                <th class="col-3">Tamaño</th>
              </thead>

              <tbody class="">
                <tr *ngFor="let imagen of this.imagen1">
                  <td class="col-2">{{ imagen.archivo.name }}</td>
                  <td class="col-2">{{ imagen.archivo.size / 1024 / 1024 | number: '.2-2' }} MB</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- <div class="col-6">
            <div class="form-group">
              <label for="">Seleccioná la segunda imagen</label>
              <div appNgDropFiles [imagen2]="imagen2" (mouseSobre)="estaSobreElemento = $event"
                [ngClass]="{'file-over': estaSobreElemento}"
                class="well drop-zone">
                <h4>Dejá caer acá el archivo</h4>
                <img src="assets/drop-images.png" alt="">
              </div>
              
              <img src="{{ producto.imagen2 }}" width="200px" alt="">
            </div>
          </div> -->
        </div>

        <div class="form-group">
          <label for="">Detalle</label>
          <input type="text" name="detalle" class="form-control" placeholder="Detalle" required
            [(ngModel)]="producto.detalle">
        </div>

        <div class="form-group">
          <label for="">Descripción</label>
          <textarea name="descripcion" cols="30" rows="10" class="form-control" [(ngModel)]="producto.descripcion"></textarea>
        </div>

        <div class="form-group">
          <label for="">Precio</label>
          <input type="number" name="precio" class="form-control" placeholder="Precio" required
            [(ngModel)]="producto.precio">
        </div>

        <div class="form-group">
          <label for="">Descuento</label><small> - en porcentaje</small>
          <input type="number" name="descuento" class="form-control" placeholder="Descuento en porcentaje" required
            [(ngModel)]="producto.descuento">
        </div>

        <div class="form-group">
          <label for="">Stock</label>
          <input type="number" name="stock" class="form-control" placeholder="Stock" required
            [(ngModel)]="producto.stock">
        </div>

        <div class="form-group">
          <button [disabled]="forma.invalid" type="submit" class="btn btn-outline-primary">Guardar cambios</button>
        </div>

      </form>

    </div>
  </div>
</div>